* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
  z-index: 2;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo h1 {
  margin-left: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.header__search_input {
  width: 525px;
  position: relative;
  border-radius: 6px;
}
.header__search_input::after {
  position: absolute;
  right: 3%;
  top: 35%;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../../img/search_icon.png);
  cursor: pointer;
}
.header__search_input .inp {
  width: 100%;
  padding: 6px 0 6px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: inherit;
  border: 2px solid #D1D5DB;
  border-radius: 6px;
  position: relative;
}
.header__search_input .inp::-moz-placeholder {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}
.header__search_input .inp:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}
.header__search_input .inp::placeholder {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}
.header__search_input .inp:focus {
  outline: none;
}

.slidera {
  position: relative;
  height: 100vh;
}

.slidera {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.slider_bg1 {
  background-image: url(../../img/slider1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__title {
  margin-top: 150px;
  width: 404px;
  display: flex;
  flex-direction: column;
  color: white;
}
.slider__title h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.rating {
  margin-top: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}
.rating span {
  width: 40%;
  display: flex;
}
.rating span .imdb {
  width: 35px;
  height: 17px;
  margin-right: 10px;
}
.rating span .potato {
  margin-right: 10px;
  width: 16px;
  height: 17px;
}

.slider__title .text {
  margin-top: 16px;
  width: 302px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.slider__btn {
  margin-top: 16px;
  width: 169px;
  background: #BE123C;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 10px 0;
  padding-left: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.slider__btn::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../img/Play.png);
  position: absolute;
  left: 8%;
  top: 20%;
}

.list_kino {
  padding: 15px 0;
}

select {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 8px;
}

#kinoSelect:focus, #reytingSelect:focus {
  border-color: rgba(179, 18, 18, 0.932);
  outline: none;
  box-shadow: 1px 0px 4px red;
}

.card_list {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card_item {
  width: 250px;
  height: 340px;
  box-shadow: 1px 1px 10px grey;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
  padding: 0px;
  margin: 5px 10px;
  position: relative;
}
.card_item img {
  width: 75%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card_item span {
  display: inline-block;
  margin: 1px;
}
.card_item h4 {
  margin: 1px;
  font-size: 16px;
}
.card_item .icon_like {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 25px;
}

.card_item span {
  margin-top: 0;
}

.pagenation__list {
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.pagenation__list button {
  margin: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: orangered;
  color: white;
  border: none;
}

.pagenation__list .active {
  color: black;
  background-color: red;
}

#clear__btn {
  background-color: red;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */